<h1>Versionsvergleich</h1>

<table class="table table-striped max700">
  <tr>
    <th>version1</th>
    <th>version2</th>
  </tr>

  <tr>
     <td><%= v1 = raw(@version1) %></td>
     <td><%= v2 = raw(@version2) %></td>
  </tr>

</table>

<%= button_to 'Zurück', :back, method: :get, :class => 'btn btn-default backbutton' %>