<h1>VersionsVergleich</h1>

<table>
  <tr>
    <th>version1</th>
    <th>version2</th>
  </tr>

  <tr>
    <td><%= raw(@version1.reify.content) %></td>
    <td><%= raw(@version2.reify.content) %></td>

  </tr>

</table>
