body {
    font-family: helvetica;
}

div#layout_container {
    margin-bottom: 60px;
}

th {
    /* top right bottom left */
    padding: 0 10px 10px 0;
}

td {
    /*padding: 0 10px 0 0;*/
    padding: 0 10px;
}

.error {
    font-weight: bold;
    color: #ff0000;
}

.horizontal input {
    float: left;
    margin-right: 10px;
}

#top {
    margin-right: 50px;
    margin-top: 20px;
}

#navbar {

}

#navbar a {
    text-decoration: none;
    color: #ffffff;

}

#navbar a:hover {

}

.menu-button {
    padding: 7px;
    background-color: #999999;

}

.menu-button:hover {
    background-color: #000000;
}

#konto {
    padding: 7px;
    background-color: #999999;
    color: #ffffff;
}

.max700 {
    max-width: 700px;
}